:root {
  --primary-color: #D69764;
  --secondary-color: #393D40;
  --light-color: #F1EDEA;
  --white-color: #fffbfb;
  --grey-color: #636363;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white-color);
}
.body-overflow {
  overflow: hidden;
}

li, a {
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

#hero-section {
  width: 100%;
  height: 100vh;
  background: var(--light-color);
}
.hero-content {
  width: 100%;
  height: 100%;
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.hero-img {
  width: 500px;
  height: 100%;
  background: url(../assets/hero-persona.png);
  background-size: cover;
}
.hero-cta {
  width: 600px;
  height: auto;
  padding: 0 5%;
}
.hero-cta h1 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}
.hero-cta .line {
  width: 50px;
  height: 2px;
  margin: 20px 0;
  background-color: var(--primary-color);
}
.hero-cta button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 12px;
  letter-spacing: 5px;
  border: 1px solid var(--primary-color);
  background: none;
  outline: none;
  cursor: pointer;
  transition: all 300ms ease;
}
.hero-cta button:hover {
  color: var(--light-color);
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.social-links {
  margin-top: -30px;
  padding: 0 8% 0 0;
}
.social-links ul li {
  margin: 20px 0;
}
.social-links .icon {
  width: 18px;
  color: var(--secondary-color);
}

.info-section {
  display: flex;
  padding: 50px 4%;
  flex-wrap: wrap;
}
.info-section,
.flex-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-info {
  width: 250px;
  height: 100px;
  padding: 20px;
  justify-content: flex-start;
  background: var(--light-color);
}
.flex-info .icon {
  width: 60px;
  color: var(--primary-color);
}
.flex-info h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

/* Shop Links Section */
#shop-sec {
  display: grid;
  width: auto;
  height: auto;
  padding: 50px 8%;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#shop-sec a {
  position: relative;
  width: 280px;
  height: 400px;
  margin-bottom: 15px;
  overflow: hidden;
}
#shop-sec a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 500ms ease;
}
#shop-sec a img:hover {
  transform: scale(1.1);
}
#shop-sec a button {
  position: absolute;
  bottom: 30px;
  left: -5px;
  width: 160px;
  height: 40px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--light-color);
  background-color: var(--primary-color);
  text-align: left;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Deal of the Day Section*/
#day-deal-sec {
  display: flex;
  width: 100%;
  height: auto;
  margin: 50px 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--light-color);
}
#day-deal-sec .left-sec {
  width: 350px;
  height: 350px;
}
.left-sec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#day-deal-sec .mid-sec {
  text-align: center;
}
#day-deal-sec .right-sec {
  width: 350px;
  height: 350px;
}
.right-sec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateX(180deg) rotateY(180deg);
}
#day-deal-sec h2 {
  font-size: 32px;
  font-weight: 400;
  color: var(--primary-color);
  letter-spacing: 2px;
}
#day-deal-sec h3 {
  padding: 10px 0 30px;
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color);
  letter-spacing: 1px;
}
.countdown {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  padding: 20px 0 150px;
  text-align: center;
  background-color: var(--primary-color);
}
.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.countdown-el {
  text-align: center;
  width: 80px;
  height: 80px;
  background-color: var(--white-color);
}
.countdown-el .text {
  margin-top: 7px;
  margin-bottom: -8px;
  font-size: 30px;
  font-weight: 400;
  color: var(--secondary-color);
}
.countdown-el span {
  font-size: 14px;
  color: var(--primary-color);
}
#day-deal-sec button {
  margin-top: 40px;
  font-size: 14px;
  letter-spacing: 3px;
  color: var(--secondary-color);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 500ms ease;
}
#day-deal-sec button:hover {
  transform: translateY(-5px);
  border-bottom: 1px solid var(--primary-color);
}

/* Featured Products & Best Sellers Products Sections */
#featured-products,
#best-sellers {
  width: 100%;
  height: auto;
  padding: 50px 8%;
  text-align: center;
}
#featured-products h2,
#best-sellers h2 {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-color);
  letter-spacing: 2px;
}
#featured-products .line,
#best-sellers .line {
  width: 100px;
  height: 1px;
  margin: 15px auto;
  background: #393d4052;
}
#featured-products p,
#best-sellers p {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color);
  letter-spacing: 1px;
}
.products-container {
  display: grid;
  grid-gap: 2rem;
  width: 100%;
  height: auto;
  padding-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.product-card {
  height: 400px;
  color: var(--secondary-color);
  background: var(--light-color);
  overflow: hidden;
}
.card-img {
  width: 100%;
  height: 60%;
  padding: 30px 30px 0 30px;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-text {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease;
}
.card-text h3 {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
.card-text strong {
  font-size: 24px;
  font-weight: 600;
}
.product-card button {
  width: 100%;
  height: 12%;
  font-size: 12px;
  letter-spacing: 2.5px;
  color: var(--white-color);
  background: var(--secondary-color);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 500ms ease;
}
.product-card button:hover {
  background: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .product-card button {
    transform: translateY(50px);
  }
  .product-card:hover .card-text {
    height: 28%;
  }
  .product-card:hover button {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  body {
    padding: auto 30px;
  }
  #hero-section {
    height: auto;
  }
  .hero-img {
    width: 100%;
    height: 350px;
  }
  .hero-cta {
    width: 100%;
    margin: 30px 0 50px;
    text-align: center;
    display: grid;
    place-items: center;
  }
  .social-links {
    display: none;
  }
  .flex-info {
    flex-direction: column;
  }
  .flex-info .icon {
    margin-bottom: 10px;
  }
  #day-deal-sec {
    gap: 50px;
    padding-bottom: 40px;
  }
  #day-deal-sec .right-sec {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .flex-info {
    width: 100%;
  }
  #shop-sec a {
    width: 100%;
  }
  #day-deal-sec {
    margin: 0 0 50px;
    padding: 50px 0 0 0;
    justify-content: center;
  }
  #day-deal-sec h3 {
    padding: 5%;
  }
  #day-deal-sec .left-sec {
    order: 2;
  }
  #day-deal-sec .mid-sec {
    order: 1;
  }
  #day-deal-sec .left-sec {
    width: 100%;
  }
  .product-card .card-text {
    height: 28%;
  }
  .product-card button {
    transform: translateY(0px);
  }
}